@import "./_bootstrap.scss";

@font-face {
    font-family: 'American Grotesk';
    src: url('/fonts/american-grotesk-regular.woff2') format('woff2'),
        url('/fonts/AmericanGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'American Grotesk';
    src: url('/fonts/american-grotesk-bold.woff2') format('woff2'),
        url('/fonts/AmericanGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Immortel Infra G1';
    src: url('/fonts/ImmortelInfraG1-Regular.woff') format('woff'),
        url('/fonts/ImmortelInfraG1-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    $serif: "Immortel Infra G1", Arial; //Georgia, 'Times New Roman', Times, serif;
    $sans-serif: "American Grotesk", Helvetica, Arial, sans-serif;
    --bs-font-sans-serif: $sans-serif;
    // --bs-body-font-family: $sans-serif;

    font-family: $sans-serif;

    h1 {
        font-size: 16px;

        @include media-breakpoint-up(md) {
            font-size: 24px;
        }
    }

    .btn {
        font-family: $sans-serif;
        font-size: 24.5px;
        font-weight: 700;
    }

    .btn-link {
        line-height: 1;
        color: $body-color;
    }

    .logo-lines {
        fill: none;
        fill-rule: nonzero;
        stroke: rgb(253, 236, 218);
    }

    .text-lines {
        font-family: $serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;

        @include media-breakpoint-up(md) {
            font-size: 40px;
            font-weight: 400;
            line-height: 44px;
        }
    }

    .btn {
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        padding: 1rem 1.25rem;
        border-radius: 40px;

        @include media-breakpoint-up(md) {
            padding: 1.5rem 2rem;
        }

        &.btn-light {
            --bs-btn-color: #FD5300;
            color: #FD5300;
            background: #FDECDA;
            --bs-btn-hover-border-color: #FDECDA;
        }

        &.btn-sm {
            font-size: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }


    footer {
        a {
            color: $light;
            opacity: .7;
            transition: opacity .3s ease;

            &:hover {
                opacity: 1;
            }
        }
    }

    .modal {
        --bs-modal-bg: white;
        --bs-body-color: #111111;
        color: var(--bs-body-color);
        --bs-modal-width: 640px;
        --bs-modal-padding: 1rem 3rem;
        --bs-modal-border-radius: 28px;

        .modal-title {
            font-family: $serif;
            font-size: 40px;
            text-align: center;
            display: block;
            width: 100%;
        }

        .modal-body {
            --bs-modal-padding: 1rem 1rem;

            @include media-breakpoint-up(md) {
                --bs-modal-padding: 1rem 3rem;
            }
        }

        .form-label {
            margin-bottom: 0.25rem;
        }

        .form-control,
        .form-select {
            background-color: white !important;
            // background-color: var(--bs-body-bg) !important;
            color: #111111;
            border: 1px solid rgba(#111111, .25);

            &.is-invalid {
                border-color: #FD0000;
            }

            &::placeholder {
                color: #111111;
                opacity: .5;
            }

            &:focus {
                border: 1px solid rgba(#111111, .5);
                box-shadow: 0 0 3px 3px #FDECDA
            }
        }

        .btn {
            padding: 16px 20px;
        }
    }

    .modal-backdrop {
        //z-index: 2;
        backdrop-filter: blur(5px);
        background-color: rgba(white, .01);
    }


    .legal {
        padding: 1.5rem 0;
        background-color: white;
        color: #111111;

        a {
            color: black;
        }

        .container {
            max-width: 768px;
        }

        h2 {
            margin-bottom: 6rem;
            font-size: 1.5rem;
            font-weight: 700;
        }

        h1 {
            font-family: $serif;
            font-size: 40px;
            line-height: 44px;
            font-weight: 400;
            margin-bottom: 1rem
        }

        h3 {
            padding: 3rem 0 2.5rem 0;
            font-size: 1.5rem;
            font-weight: 700;
        }

        h4 {
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 0;
        }
    }
}