@import "./_bootstrap.scss";

@font-face {
    font-family: 'American Grotesk';
    src: url('/fonts/american-grotesk-regular.woff2') format('woff2'),
        url('/fonts/AmericanGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'American Grotesk';
    src: url('/fonts/american-grotesk-bold.woff2') format('woff2'),
        url('/fonts/AmericanGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    $serif: "Immortel Infra G1 Trial", Georgia, 'Times New Roman', Times, serif;
    $sans-serif: "American Grotesk", Helvetica, Arial, sans-serif;
    --bs-font-sans-serif: $sans-serif;

    h1 {
        font-size: 16px;

        @include media-breakpoint-up(md) {
            font-size: 24px;
        }
    }

    .btn {
        font-family: $sans-serif;
        font-size: 24.5px;
        font-weight: 700;
    }

    .btn-link {
        line-height: 1;
        color: $body-color;
    }

    .logo-lines {
        fill: none;
        fill-rule: nonzero;
        stroke: rgb(253, 236, 218);
    }

    .text-lines {
        font-family: $serif;
        font-size: 40px;
        font-weight: 400;
        line-height: 44px;
        text-align: center;
    }

    .btn {
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        padding: 24px;
        border-radius: 40px;

    }

    .btn-light {
        color: #FD5300;
        background: #FDECDA;


    }

    footer {
        a {
            color: $light;
            opacity: .7;
            transition: opacity .3s ease;

            &:hover {
                opacity: 1;
            }
        }
    }

    .modal {
        --bs-modal-bg: white;
        --bs-body-color: #111111;
        color: var(--bs-body-color);

        .modal-title {
            font-family: $serif;
            font-size: 40px;
            text-align: center;
            display: block;
            width: 100%;
        }

        .form-control,
        .form-select {
            background-color: white !important;
            // background-color: var(--bs-body-bg) !important;
            color: #111111;

            &::placeholder {
                color: #111111;
                opacity: .5;
            }
        }

        .btn {
            padding: 16px 20px;
        }
    }

    .modal-backdrop {
        //z-index: 2;
        backdrop-filter: blur(5px);
    }



}